:root {
    --text-color: #fff;
    --heading-text-family: "Josefin Sans", "Arial", sans-serif;
    --text-family: "Alata", "Arial", sans-serif;
    --footer-color: #000;
}

@font-face {
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/alata-v7-latin-regular.woff2") format("woff2"),
         url("../fonts/alata-v7-latin-regular.woff") format("woff");
    font-display: swap;
  }

@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    src:url("../fonts/josefin-sans-v23-latin-300.woff2") format("woff2"),
         url("../fonts/josefin-sans-v23-latin-300.woff") format("woff");
    font-display: swap;
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--text-color);
    font-family: var(--heading-text-family);
    font-style: normal;
    font-weight: 300;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
} 